.label {
  margin-bottom: 6px;
}

.wrapper {
}


.firstinput {
  border-radius: 6px 0 0 6px;
  width: 102px;
  float: left;

  &:focus {
    z-index: 3;
  }

  &:hover {
    z-index: 2;
  }
}

.lastinput {
  margin-left: -1px;
  border-radius: 0 6px 6px 0;
  width: 102px;
  float: left;

  &:focus {
    z-index: 3;
  }

  &:hover {
    z-index: 2;
  }
}
